PORT=3000
NODE_ENV=development
SESSION_SECRET=change_this_to_a_random_64_char_string
DATABASE_PATH=./data/.db.db
TMDB_API_KEY=6b8e3eaa1a03ebb45642e9531d8a76d2
PANEL_NAME=iBO Pro Player 3.9
BRAND_NAME=iBO Pro Player 3.9
CONTACT_URL=https://t.me/SaNoJRTX
